p{
    font-family: "Courier New", Courier, monospace
}
#content {background-color: #080808d3;}   /* red */
h1 {
    color: #00ff00cb;
    text-align: center;
    font-size: xx-large;
}
h2 {
    color: #00ff0081;
    text-align: center;
    font-size: x-large;
}
p {
    color: #00ff00;
    hyphens: auto; 
    line-height: 1.8;
}